<div class="map-warn">
  <h3>告警信息</h3>
  <ul class="title">
    <li class="province">省份</li>
    <li class="phase">实施阶段</li>
  </ul>
{{#each phases}} {{#each warn.detail}}
  <ul>
    <li class="province">{{../../name}}</li>
    <li class="phase">{{../step}} 延迟告警</li>
  </ul>
  {{/each}}{{/each}}
</div>
<div class="map-problem">
  <h3>问题信息</h3>
    <ul class="title">
        <li class="phase">问题归属</li>
        <li class="phase">提出人</li>
        <li class="phase">期望解决时间</li>
        <li class="describe">问题描述</li>
        <li class="describe">解决方案</li>
        <li class="time">进展</li>
        <li class="state">状态</li>
    </ul>
    {{#each problems}}
        <ul>
            <li class="phase">&nbsp;{{proposes}}&nbsp;</li>
            <li class="phase">&nbsp;{{questioner}}&nbsp;</li>
            <li class="phase">&nbsp;{{expectedResolutionDate}}&nbsp;</li>
            <li class="describe" title="{{describe}}">{{describe}}&nbsp;
            </li>
            <li class="describe" title="{{solution}}">&nbsp;{{solution}}&nbsp;</li>
            <li class="time" title="{{progressAndResults}}">&nbsp;{{progressAndResults}}&nbsp;</li>
            <li class="state" title="{{state}}">{{state}}</li>
        </ul>
    {{/each}}
</div>
