<div class="map-warn">
  <h3>告警信息</h3>
  <ul class="title">
    <li class="province">省份</li>
    <li class="phase">实施阶段</li>
  </ul>
{{#each phases}} {{#each warn.detail}}
  <ul>
    <li class="province">{{../../name}}</li>
    <li class="phase">{{../step}} 延迟告警</li>
  </ul>
  {{/each}}{{/each}}
</div>
<div class="map-problem">
  <h3>问题信息</h3>
  <ul class="title">
    <li class="province">省份</li>
    <li class="phase">实施阶段</li>
    <li class="person">提出人</li>
    <li class="time">创建时间</li>
    <li class="time">期望解决时间</li>
    <li class="solver">期望解决人</li>
    <li class="describe">问题描述</li>
  </ul>
    {{#each problems}}
    <ul>
      <li class="province">{{provinceTo province}}</li>
      <li class="phase" title="{{step}}">{{step}}</li>
      <li class="person">{{questioner}}</li>
      <li class="time">{{problemDate}}</li>
      <li class="time">{{expectedResolutionDate}}</li>
      <li class="solver">{{responsible}}</li>
      <li class="describe" title="{{describe}}">{{describe}}</li>
    </ul>
  {{/each}}
</div>
